.list {
  display: flex;
  flex-direction: column;
  padding: 0px px; /* Matching padding with RepoNavi */
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.blank {
  width: 70px;
}

.filename {
  width: 200px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  width: 106px;
  text-align: center;
}

.list .blank {
  display: flex;
  width: 70px;
  gap: 10px;
  height: 70px;
  object-fit: cover;
}
